
<section class="section">
    <div class="container">

        <div class="design-column">
        </div>

        <div class="login-column">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title" style="text-align: center; font-size: x-large; font-family: 'Times New Roman', Times, serif; "><strong>SIGN UP</strong></h5>
                  <div class="forms">
                  <form  id="form1">
                    <!-- Name Input -->
                    <div class="form-outline">
                        <input required type="text"  class="form-control" formControlName="email" placeholder="Name"/>
                      </div>
                    <!-- Email input -->
                    <div class="form-outline">
                      <input required type="email"  class="form-control" formControlName="email" placeholder="Email Address"/>
                    </div>
                 
                    <!-- Password input -->
                    <div class="form-outline">
                      <input required type="password" id="pInput" class="form-control" formControlName="password" placeholder="Password" />
                    </div>
                    <button id="signup" type="submit" class="btn btn-outline-secondary mt-4"  routerLink="/home" ><strong>SIGN UP</strong></button>
                    </form>
                </div>
                </div>
              </div>
    </div>
    </div>
</section>
