.card {
    // align-items: center;
    display: flex;
    height: 643px;
    width: 630px;
    background: white;
}

.form-control {
    margin-top: 30px;
    border-style: solid;
    border-color: black;
}