@import '../../../main-styles.scss';

.root {
    display: flex;
    width: 100%;
    position: relative;

    &:hover {
        .x-icon-button {
            opacity: 1;
            transform: scale(1);
        }
    }
    
    .x-icon-button {
        position: absolute;
        height: 34px;
        width: 34px;
        border-radius: 40%;
        background: $dark;
        background-image: url('../../../assets/delete_icon.svg');
        background-repeat: no-repeat;
        background-position: center;
        right: -17px; 
        top: -1px; 
        cursor: pointer;
        transition: opacity 0.2s ease-out, transform 0.2s ease-out;
        
        transform: scale(0);
        opacity: 0;
    }
}

.budget-item {
    display: flex;
    width: 100%;
    background-color: $light-grey;
    padding: 5px;
    margin-top: 30px;
    cursor: pointer;

    .description {
        flex-grow: 1;
        font-size: 18px;
        margin-left: 5-x;
    }
    .amount {
        padding: 5px;
        border-radius: 3px;
    }
}

.expense {
    .description {
        color: red;
    }
    .amount {
        background-color: $light-red;
    }
}

.income {
    .description {
        color:$green;
    }
    .amount {
        background-color: $light-green;
    }
}
